.headerdark{
    background-color: #313131;
    background: url("sky.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    color: #8ee0ff;
    text-shadow: 0 0 5px rgba(3, 139, 255, 0.95);
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.7);
    z-index: 100;
    position: relative;

}
.headerdark::after{
    border-bottom: 2px red solid;
    border-left:2px red solid;
}
.danger_field{
    width: 100%;
    height: 10px;
    background-color: #8ee0ff;
    box-shadow: 0 0 10px 3px rgba(3, 139, 255, 0.95);
    z-index: 150;
    position: relative;
}
body{
    color: white;
    font-size: 150%;
    margin: 0;
    min-height: 1000px;
    /*background-color: #777;*/
    margin-bottom: 70px;
    background: #4c4c4c; /* Old browsers */
    background: linear-gradient(to bottom, #5abbff 0%,#00325d 10%,#bbdaff 70%,#5abbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#6d6d6d',GradientType=0 ); /* IE6-9 */
}
#container{
    padding-top: 10px;
}
#menu{
    margin-bottom: 10px;
    bottom: 0;
    right: 0;
    position: absolute;
}
small{
    font-size: 50%;
}
.logo{
    margin-top: 15px;
    text-align: left;
    padding-left: 70px;
    padding-top: 10px;
    font-size: 125%;
    text-transform: uppercase;
    color: #8ee0ff;
    text-shadow: 0 0 10px rgba(3, 139, 255, 0.95);
    line-height: 20px;
    background-size: 70px;
    height: 64px;
}
.logo_m{
    line-height: 20px;
    background-size: 70px;
    height: 64px;
}
.logo_title{
    text-align: left;
    font-weight: bold;
    font-size: 200%;
}
.transparent{
    opacity:0;
    transform: translateX(-100%);
}
.transparentStatic{
    opacity:0;
}
.mydevider{
    margin: 5px 0;
    border-bottom: 1px grey solid;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #333;
}
::-webkit-scrollbar-thumb {
    background: #111;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-corner {
    background: #000;
}
a{
    font-weight: bold;
    color: #FFD100;
}
a:hover{
    color: #bfd255;
}
#footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    color: #8ee0ff;
    text-shadow: 0 0 10px rgba(3, 139, 255, 0.95);
    background-color: #333;
    box-shadow: 0 -5px 10px 3px rgba(3, 139, 255, 0.95);
    width: 100%;
    line-height: 15px;
    border-top:3px solid #8ee0ff;
    padding-bottom: 10px;
}
#wrapper{
    z-index: 0;
    position: relative;
    transition: all 0.5s ease;
    /*background-image: url("park_bg.jpg");*/
}
.label-default{
    background-color: #111;
    color: #d22;
    border: 1px solid #930101;
    border-radius: 5px;
}
.label-my-normal{
    background: #6db563; /* Old browsers */
    background: -moz-linear-gradient(top, #6db563 0%, #21680d 45%, #0f7516 64%, #3f663c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #6db563 0%,#21680d 45%,#0f7516 64%,#3f663c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #6db563 0%,#21680d 45%,#0f7516 64%,#3f663c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db563', endColorstr='#3f663c',GradientType=0 ); /* IE6-9 */
    border: 1px outset darkgreen;
}
.label-my-old{
    background: #a7cfdf; /* Old browsers */
    background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a7cfdf 0%,#23538a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
    border: 1px outset #919191;
}
.label-my-error{
    background: #9b5858; /* Old browsers */
    background: -moz-linear-gradient(top, #9b5858 0%, #540101 45%, #a30000 75%, #4c0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9b5858 0%,#540101 45%,#a30000 75%,#4c0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9b5858 0%,#540101 45%,#a30000 75%,#4c0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b5858', endColorstr='#4c0000',GradientType=0 ); /* IE6-9 */
    border: 1px outset #91151b;
}
.witem .editBlock{
    display: none;
}
.addContainer{
    transition: all 1s ease;
}
.fa-trash, .fa-pencil, .cityitem{
    cursor: pointer;
}
.fa-trash, .fa-pencil{
    float: right;
}
.label-danger{
    float: right;
}
.innerWitem{
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    font-family: "Arial Black";
    font-size: 150%;
    padding:1% 2%;
    border-radius: 10px;
    background: #4c4c4c;
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 );
}
.innerWadd{
    font-family: "Arial Black";
    font-size: 150%;
    padding:1% 2%;
    color: whitesmoke;
    border-radius: 10px;
    background: rgba(158,158,158,1);
    background: -moz-linear-gradient(top, rgba(158,158,158,1) 0%, rgba(153,153,153,1) 50%, rgba(145,145,145,1) 51%, rgba(179,179,179,1) 100%);
    background: -webkit-linear-gradient(top, rgba(158,158,158,1) 0%, rgba(153,153,153,1) 50%, rgba(145,145,145,1) 51%, rgba(179,179,179,1) 100%);
    background: -o-linear-gradient(top, rgba(158,158,158,1) 0%, rgba(153,153,153,1) 50%, rgba(145,145,145,1) 51%, rgba(179,179,179,1) 100%);
    background: -ms-linear-gradient(top, rgba(158,158,158,1) 0%, rgba(153,153,153,1) 50%, rgba(145,145,145,1) 51%, rgba(179,179,179,1) 100%);
    background: linear-gradient(to bottom, rgba(158,158,158,1) 0%, rgba(153,153,153,1) 50%, rgba(145,145,145,1) 51%, rgba(179,179,179,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9e', endColorstr='#b3b3b3', GradientType=0 );
}
input{
    width: 70%;
    background: transparent;
    border-radius: 5px;
    border: 2px outset whitesmoke;
    margin-top: 3px;
    text-align: center;
}
.innerWitem.cold{
    color: white;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.innerWitem.aver{
    color: white;
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );
}
.innerWitem.hot{
    color: white;
    background: #fceabb; /* Old browsers */
    background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */}
.innerWitem.liq{
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
    background: #d0e4f7; /* Old browsers */
    background: -moz-linear-gradient(top, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */}
.innerWitem.dri{
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc578+0,fb9d23+100;Orange+3D+%233 */
    background: #ffc578; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc578 0%, #fb9d23 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffc578 0%,#fb9d23 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
}
.innerWitem .time{
    font-size: 80%;
}
.wicon{
    height: 100px;
    width: 100%;
    border-radius: 20px;
}
.wicon.sun{
    background: url("sun.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.wicon.cloud{
    background: url("cloud.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.wicon.snow{
    background: url("snow.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.wicon.rain{
    background: url("rain.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.wicon.snowrain{
    background: url("snowrain.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.wicon.hot{
    background: url("hot.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}