<div id="minview" class="rn_color" ng-controller="logctrl">
    <div ng-switch on="blocks">
        <div ng-switch-when="true">
            <div class="cityname">Показана погода для {{currentCity}} <a href="#!/"> Перейти назад</a></div>
            <div class="row">
                <div ng-repeat="item in listOfWeather">
                    <witem data-index="{{$index}}"></witem>
                </div>
                <wadd></wadd>
            </div>
        </div>
        <div ng-switch-when="false">
            <div class="cityname">Показана погода для {{currentCity}} <a href="#!/"> Перейти назад</a></div>
            <div class="row">
                <div ng-repeat="item in listOfWeather">
                    <witem astable="1" data-index="{{$index}}"></witem>
                </div>
                <wadd></wadd>
            </div>
        </div>
    </div>

</div>